body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

h1 {
    color: navy;
    text-align: center;
    font-size: 40px;
}

p {
    color: darkgray;
    padding: 10px;
    border: 1px solid black;
    width: 50%;
    margin: auto;
    text-align: justify;
}

.tab {
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.tab:hover {
    background-color: #e76f51;
    transform: scale(1.1);
}

.product {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}
